<div class="md-grid-list">
  <div class="usersSection">

    <md-list>
      <md-list-item *ngFor="let u of accountsArr" class="userListItem" [ngClass]="{userListItemActive : selectedUser && u.uid == selectedUser.uid }" [style.display]="u.uid == user.uid ? 'none' : ''" (click)="selectUser(u)">
        {{u.FirstName}} {{u.LastName}}
      </md-list-item>
      
    </md-list>

  </div>
  <div class="chatSection" >
    
      <md-card class="example-card" *ngIf="selectedUser" >
        <md-card-header>
          <md-card-title><h2>{{selectedUser.FirstName}} {{selectedUser.LastName}}</h2></md-card-title>
        </md-card-header>
        <md-card-content class="md-card-content" >

          <md-list>
            <!--<md-list-item style="height: auto;">
              <div class="chatToMeMain">
                <div class="chatToMe">Hello Hello Hello Hello Hello HelloHelloHello HelloHello Hellov HelloHello Hello Hello</div>
              </div>
            </md-list-item>
            <md-list-item>
              <div class="chatFromMeMain">
                <div class="chatFromMe">Hello Hello Hello Hello Hello HelloHelloHello HelloHello Hellov HelloHello Hello Hello</div>
              </div>
            </md-list-item>-->
            <md-list-item *ngFor="let msg of messages;" style="height: auto;">
              <div class="chatToMeMain" [ngClass]="{chatToMeMain: msg.To == user.uid, chatFromMeMain: msg.To != user.uid}" >
                <div class="chatToMe" *ngIf="msg.Text" [ngClass]="{chatToMe: msg.To == user.uid, chatFromMe: msg.To != user.uid}">
                  {{msg.Text}}
                </div>
                <div class="chatToMe" *ngIf="msg.Url" [ngClass]="{chatToMe: msg.To == user.uid, chatFromMe: msg.To != user.uid}">
                  <a href='{{msg.Url}}' target="_blank" >File</a>
                </div>
              </div>
            </md-list-item>

          </md-list>

        </md-card-content>
        <md-card-actions class="padding-bottom-10">
          <md-input-container class="chatTextCont" *ngIf="!isFileUploading">
            <input md-input placeholder="What's in your mind'" [(ngModel)]="message" >
          </md-input-container>
          <label class="FileProgressCont" *ngIf="isFileUploading">
            Upload - {{progress}}%
            <md-progress-bar style="width: 95%; float: left;"
                class="app-progress"
                color="accent"
                mode="determinate"
                [value]="progress"
                aria-label="Determinate progress-bar example"></md-progress-bar>
          </label>
          <span class="example-spacer"></span>
          <div class="chatButtonsCont" >
            <div md-button md-raised-button color="primary" style="width: 90px" type="file" >
              File
              <input type="file" class="fileControl" (change)="fileChanged($event)" >
            </div>
            <button md-button md-raised-button color="primary" type="button" (click)="sendMessage()">Send</button>
          </div>
          
        </md-card-actions>
      </md-card>


  </div>
</div>